* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1c1c1c;
    background-color: #add8e6; /* azul claro */
    background-image: url(https://media.istockphoto.com/id/1191412842/pt/vetorial/duck-footprint-and-track-bird-paw-print-isolated-on-white-background-vector-illustration.jpg?s=612x612&w=0&k=20&c=B3imfB4Yjcymr_dG5wDfy-oQfS0Pg9ODhluRTdwy_kY=);
    background-size: 200px;
    background-repeat: repeat;
    opacity: 1; /* valor entre 0 e 1 */
}

header {
    background: #22c39b;
    background: linear-gradient(0deg, rgba(34, 195, 155, 1) 0%, rgba(253, 187, 45, 1) 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

article {
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article h2 {
    margin-top: 0;
    color: #4CAF50;
    background-image: url("caranguejo.png");
    background-repeat: no-repeat;   /* evita repetir a imagem */
    background-size: cover;         /* cobre toda a área do h2 */
    background-position: center;    /* centraliza a imagem */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
